@model PseudoCell.Models.ActionChoiceListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Action Choices</h2>

<p>
    @if (Model.IsManager)
    {
        @Html.ActionLink("Create New", "Create", new { scenarioId = Model.ScenarioId }, new { @class = "btn btn-primary" })
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActionChoices[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionChoices[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionChoices[0].NextScenarioName)
        </th>
        <th></th>
    </tr>

@if (Model.ActionChoices != null)
{
    foreach (var item in Model.ActionChoices)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextScenarioName)
            </td>
            <td>
                
                @Html.ActionLink("Details", "Details", new { actionChoiceId = item.Id}, new { @class = "btn btn-default" }) 
                @if(Model.IsManager){@Html.ActionLink("Edit", "Edit", new { actionChoiceId = item.Id }, new { @class = "btn btn-default" })   }
                @if(Model.IsManager){@Html.ActionLink("Delete", "Delete", new { actionChoiceId = item.Id}, new { @class = "btn btn-danger" , onclick = "return confirm('Are you sure you wish to delete this action choice?');" })}
            </td>
        </tr>
    }
}
</table>
<div>
    @Html.ActionLink("Back", "BackToScenario", new{scenarioId=Model.ScenarioId}, new { @class = "btn btn-default" })
</div>
