@model PseudoCell.Models.ScenarioListViewModel

@{
    ViewBag.Title = "Scenario List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game: @Model.GameName</h2>
<h3>Scenarios</h3>
<p>
    @if (Model.IsManager)
    {
        @Html.ActionLink("Create", "Create", new {gameId=Model.GameId}, new { @class = "btn btn-primary" })
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Scenarios[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scenarios[0].Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scenarios[0].IsCommentRequired)
        </th>
        <th></th>
    </tr>

    @if (Model.Scenarios != null)
    {
        foreach (var item in Model.Scenarios)
         {
             <tr>
                 <td>
                     @Html.DisplayFor(modelItem => item.Name)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Description)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.IsCommentRequired)
                 </td>
                 <td>
                     @Html.ActionLink("Details", "Details", new {scenarioId = item.Id}, new { @class = "btn btn-default" })
                     @if(Model.IsManager){@Html.ActionLink("Edit", "Edit", new { scenarioId = item.Id }, new { @class = "btn btn-default" })  }
                     @if(Model.IsManager){@Html.ActionLink("Delete", "Delete", new {scenarioId = item.Id}, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you wish to delete this scenario?');" })}
                 </td>
             </tr>
         }
    }
</table>
<div>
    @Html.ActionLink("Back", "BackToGameList", null, new {@class="btn btn-default" })
</div>

