@model PseudoCell.Models.ScenarioListViewModel

@{
    ViewBag.Title = "Scenario List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game: @Model.GameName</h2>
<h3>Scenarios</h3>
<p>
    @if (Model.IsManager)
    {
        @Html.ActionLink("Create", "Create", new {gameId=Model.GameId})
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Scenarios[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scenarios[0].Description)
        </th>
        <th></th>
    </tr>

    @if (Model.Scenarios != null)
    {
        foreach (var item in Model.Scenarios)
         {
             <tr>
                 <td>
                     @Html.DisplayFor(modelItem => item.Name)
                 </td>
                 <td>
                     @Html.DisplayFor(modelItem => item.Description)
                 </td>

                 <td>
                     @Html.ActionLink("Details", "Details", new {scenarioId = item.Id}) |
                     @if(Model.IsManager){@Html.ActionLink("Edit", "Edit", new { scenarioId = item.Id })  }|
                     @if(Model.IsManager){@Html.ActionLink("Delete", "Delete", new {scenarioId = item.Id})}
                 </td>
             </tr>
         }
    }

</table>
<div>
    @Html.ActionLink("[Back to Scenario List]", "BackToScenarioList")
</div>

