@model PseudoCell.Models.GameResultViewEditModel

@{
    ViewBag.Title = "EndGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EndGame</h2>
@using (Html.BeginForm("EndGame", "Game", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.AntiForgeryToken()

    <div>
        <h4>GameResult</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GameName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GameName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ScenarioName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ScenarioName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ActionChoiceName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ActionChoiceName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>

            <dd>
                @Html.TextAreaFor(model => model.Comments, new { @cols = "80", @rows = "4" })
            </dd>
            @Html.HiddenFor(model => model.ActionChoiceId)
            @Html.HiddenFor(model => model.AccumulatedComments)
            @Html.HiddenFor(model => model.AspNetUserId)
            @Html.HiddenFor(model => model.GradeLetter)
            @Html.HiddenFor(model => model.GradePercent)
            @Html.HiddenFor(model => model.Id)
        </dl>
    </div>
    <p>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </p>
}
