@model IEnumerable<PseudoCell.Models.GameResultViewEditModel>

@{
    ViewBag.Title = "GameResultIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game Results</h2>

<table class="table">
    
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScenarioName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionChoiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompleteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradeLetter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradePercent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScenarioName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionChoiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompleteDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradeLetter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradePercent)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditGameResult", new { id=item.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("View", "ViewGameResult", new { id=item.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Delete", "DeleteGameResult", new { id=item.Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
