@using PseudoCell.Models
@model PseudoCell.Models.PlayScenarioViewModel

@{
    ViewBag.Title = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.HiddenDateTime = null;
}

<h2>@Model.Scenario.GameName</h2>
<h3>Scenario - @Model.Scenario.Name</h3>
<hr/>

<div>
    <h4>Description</h4>
    @Html.DisplayFor(x => Model.Scenario.Description)
    
    <hr/>
</div>
<div>
    <h4>Choices</h4>
    @foreach (var item in Model.ActionChoices)
    {
        <div style="margin-left: 50px; margin-bottom: 20px;">
            
            (@Html.ActionLink("Select", "Select", new SelectedActionModel(){actionChoiceId = item.Id, PageGuid = Model.PageGuid}, new { @class = "btn btn-default" }))<b>@Html.DisplayFor(modelItem => item.Name) </b>
            <br/>
            @Html.DisplayFor(modelItem => item.Description)
            <br/>

        </div>
    }
    <hr/>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</div>
