@model PseudoCell.Models.GameResultViewEditModel

@{
    ViewBag.Title = "ViewGameResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewGameResult</h2>

<div>
    <h4>GameResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScenarioName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScenarioName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActionChoiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionChoiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradeLetter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradeLetter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradePercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradePercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompleteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompleteDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("[Back to Grade List]", "GameResultIndex")|
    @Html.ActionLink("Edit","EditGameResult",new{id = Model.Id})

</p>
